https://www.kaggle.com/datasets/mathurinache/world-happiness-report?datasetId=748584&sortBy=voteCount

### 0. Libraries import

In [132]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1. Datasets import

In [133]:
df22 = pd.read_csv('2022.csv')
df22['Year'] = 2022
df22.loc[(df22.Country == 'Belarus*'), 'Country'] = 'Belarus'

In [134]:
df21 = pd.read_csv('2021.csv') #import Dataset
df21['Year'] = 2021
df21['Happiness Rank'] =  range(1, len(df21.index)+1)
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
 20  Year                                        149 non-null    int64
 21  Happiness Rank                              149 non-null    int64
dtypes: float64(18), int64(2), object(2)
memory usage: 25.7+ KB

In [135]:
df20 = pd.read_csv('2020.csv')
df20['Year'] = 2020
df20['Happiness Rank'] =  range(1, len(df20.index)+1)
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
 20  Year                                        153 non-null    int64
 21  Happiness Rank                              153 non-null    int64
dtypes: float64(18), int64(2), object(2)
memory usage: 26.4+ KB

In [136]:
df19 = pd.read_csv('2019.csv')
df19['Year'] = 2019
df19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [137]:
df18 = pd.read_csv('2018.csv') 
df18['Year'] = 2018
df18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
 9   Year                          156 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 12.3+ KB

In [138]:
df17 = pd.read_csv('2017.csv')
df17['Year'] = 2017
df17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
 12  Year                           155 non-null    int64
dtypes: float64(10), int64(2), object(1)
memory usage: 15.9+ KB

In [139]:
df16 = pd.read_csv('2016.csv')
df16['Year'] = 2016
df16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
 13  Year                           157 non-null    int64
dtypes: float64(10), int64(2), object(2)
memory usage: 17.3+ KB

In [140]:
df15 = pd.read_csv('2015.csv')
df15['Year'] = 2015
df15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
 12  Year                           158 non-null    int64
dtypes: float64(9), int64(2), object(2)
memory usage: 16.2+ KB

### 2. Merging datasets

To merge data in one data frame we have added column defining year.  
As we can see datasets include different amount of columns and column names are different.  
To merge data in one data frame we have added column defining year.  
To succeed concat  data in one data frame we need to rename columns name to unify them.

In [141]:
df15 = df15.rename(columns = {
    'Family' : 'Social support'})

In [142]:
df16 = df16.rename(columns = {
    'Family' : 'Social support'})

In [143]:
df17 = df17.rename(columns = {
    'Happiness.Rank':'Happiness Rank', 
    'Happiness.Score' : 'Happiness Score', 
    'Economy..GDP.per.Capita.' : 'Economy (GDP per Capita)', 
    'Health..Life.Expectancy.' : 'Health (Life Expectancy)',
    'Trust..Government.Corruption.' : 'Trust (Government Corruption)', 
    'Family' : 'Social support',
    'Dystopia.Residual' : 'Dystopia Residual'})

# ['Health (Life Expectancy)', 'Trust (Government Corruption)'] not in index"

In [144]:
df18 = df18.rename(columns = {
    'Country or region' : 'Country',
    'Overall rank':'Happiness Rank', 
    'Score' : 'Happiness Score', 
    'GDP per capita' : 'Economy (GDP per Capita)', 
    'Healthy life expectancy' : 'Health (Life Expectancy)',
    'Freedom to make life choices' : 'Freedom',
    'Perceptions of corruption' : 'Trust (Government Corruption)'})

In [145]:
df19 = df19.rename(columns = {
    'Country or region' : 'Country',
    'Overall rank':'Happiness Rank', 
    'Score' : 'Happiness Score', 
    'GDP per capita' : 'Economy (GDP per Capita)', 
    'Healthy life expectancy' : 'Health (Life Expectancy)',
    'Freedom to make life choices' : 'Freedom',
    'Perceptions of corruption' : 'Trust (Government Corruption)'})

In [146]:
df20 = df20.rename(columns = {
    'Country name' : 'Country',
    'Ladder score' : 'Happiness Score', 
    'Logged GDP per capita' : 'Economy (GDP per Capita)', 
    'Healthy life expectancy' : 'Health (Life Expectancy)',
    'Freedom to make life choices' : 'Freedom',
    'Perceptions of corruption' : 'Trust (Government Corruption)'})

In [147]:
df21 = df21.rename(columns = {
    'Country name' : 'Country',
    'Ladder score' : 'Happiness Score', 
    'Logged GDP per capita' : 'Economy (GDP per Capita)', 
    'Healthy life expectancy' : 'Health (Life Expectancy)',
    'Freedom to make life choices' : 'Freedom',
    'Perceptions of corruption' : 'Trust (Government Corruption)'})

In [148]:
df22 = df22.rename(columns = {
    'RANK':'Happiness Rank', 
    'Happiness score' : 'Happiness Score', 
    'Explained by: GDP per capita' : 'Economy (GDP per Capita)', 
    'Explained by: Social support' : 'Social support',
    'Explained by: Healthy life expectancy' : 'Health (Life Expectancy)',
    'Explained by: Freedom to make life choices' : 'Freedom',
    'Explained by: Generosity' : 'Generosity',
    'Explained by: Perceptions of corruption' : 'Trust (Government Corruption)'})

In [149]:
df = pd.concat([df15, df16, df17, df18, df19, df20, df21, df22])[[
    'Country', 
    'Happiness Rank',
    'Happiness Score', 
    'Economy (GDP per Capita)',
    'Social support', 
    'Health (Life Expectancy)',
    'Freedom',
    'Trust (Government Corruption)',
    'Generosity', 
    'Year']]

In [150]:
#old-school meathod of concatination (will deploying soon)
# df = pd.DataFrame(columns = [
#     'Country', 
#     'Happiness Rank', 
#     'Happiness Score', 
#     'Economy (GDP per Capita)',
#     'Social support', 
#     'Health (Life Expectancy)',
#     'Freedom',
#     'Trust (Government Corruption)',
#     'Generosity', 
#     'Year'])
# n = [df15, df16, df17, df18, df19, df20, df21, df22] #
# for i in n:
#     df = df.append(i[['Country', 
#     'Happiness Rank', 
#     'Happiness Score', 
#     'Economy (GDP per Capita)',
#     'Social support', 
#     'Health (Life Expectancy)',
#     'Freedom',
#     'Trust (Government Corruption)',
#     'Generosity', 
#     'Year']], ignore_index = 'True');

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1231 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        1231 non-null   object
 1   Happiness Rank                 1231 non-null   int64
 2   Happiness Score                1230 non-null   object
 3   Economy (GDP per Capita)       1230 non-null   object
 4   Social support                 1230 non-null   object
 5   Health (Life Expectancy)       1230 non-null   object
 6   Freedom                        1230 non-null   object
 7   Trust (Government Corruption)  1229 non-null   object
 8   Generosity                     1230 non-null   object
 9   Year                           1231 non-null   int64
dtypes: int64(2), object(8)
memory usage: 105.8+ KB

###  3. Dtype specifying

To make calculations wee need to change some Dtypes.  
Some numeric valuese has ',' separators. PD accept only '.'

In [152]:
df['Happiness Score'] =  df['Happiness Score'].apply(lambda x: str(x).replace(',', '.'))
df['Economy (GDP per Capita)'] =  df['Economy (GDP per Capita)'].apply(lambda x: str(x).replace(',', '.'))
df['Social support'] =  df['Social support'].apply(lambda x: str(x).replace(',', '.'))
df['Health (Life Expectancy)'] =  df['Health (Life Expectancy)'].apply(lambda x: str(x).replace(',', '.'))
df['Freedom'] =  df['Freedom'].apply(lambda x: str(x).replace(',', '.'))
df['Trust (Government Corruption)'] =  df['Trust (Government Corruption)'].apply(lambda x: str(x).replace(',', '.'))
df['Generosity'] =  df['Generosity'].apply(lambda x: str(x).replace(',', '.'))

In [153]:
df = df.astype({
    'Happiness Score' : 'float32',
    'Economy (GDP per Capita)' : 'float32',
    'Social support' : 'float32',
    'Health (Life Expectancy)' : 'float32',
    'Freedom' : 'float32',
    'Trust (Government Corruption)' : 'float32',
    'Generosity' : 'float32'
    })
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1231 entries, 0 to 146
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        1231 non-null   object
 1   Happiness Rank                 1231 non-null   int64
 2   Happiness Score                1230 non-null   float32
 3   Economy (GDP per Capita)       1230 non-null   float32
 4   Social support                 1230 non-null   float32
 5   Health (Life Expectancy)       1230 non-null   float32
 6   Freedom                        1230 non-null   float32
 7   Trust (Government Corruption)  1229 non-null   float32
 8   Generosity                     1230 non-null   float32
 9   Year                           1231 non-null   int64
dtypes: float32(7), int64(2), object(1)
memory usage: 72.1+ KB

In [154]:
df.isna().mean().sort_values(ascending=False)

Trust (Government Corruption)    0.001625
Happiness Score                  0.000812
Economy (GDP per Capita)         0.000812
Social support                   0.000812
Health (Life Expectancy)         0.000812
Freedom                          0.000812
Generosity                       0.000812
Country                          0.000000
Happiness Rank                   0.000000
Year                             0.000000
dtype: float64

In [155]:
# df.to_csv (r'C:\Users\Nadezhda\Desktop\Python\диплом\World Happiness Report up to 2022\my_data.csv', index= False, sep='%' )

There are 2 rows with null  
I've checked them into row data.  
They are unimportant for use, so we can drop them .

### 4. Rank pivot

Color Columns, Rows & Cells of Pandas Dataframe  by fumctions
https://kanoki.org/2019/01/02/pandas-trick-for-the-day-color-code-columns-rows-cells-of-dataframe/

In [156]:
def color_rank(value):
    if value == 1:
        color = 'yellow'
    elif value == 2:
        color = 'silver'
    elif value == 3:
        color = 'moccasin'
    else:
        color = 'default'
    return 'background-color: %s' % color


def highlight_max(data, color='yellow'):
    '''
    highlight the maximum in a Series or DataFrame
    '''
    attr = 'background-color: {}'.format(color)
    data = data.astype(float)
    if data.ndim == 1: 
        is_max = data == data.max()
        return [attr if v else '' for v in is_max]
    else:  
        is_max = data == data.max().max()
        return pd.DataFrame(np.where(is_max, attr, ''),
                            index=data.index, columns=data.columns)

In [166]:
datapivothappiness_rank = df.pivot(index='Country', columns='Year', values=['Happiness Rank'])
datapivothappiness_rank = datapivothappiness_rank.dropna(axis = 0)
datapivothappiness_rank = datapivothappiness_rank.astype('Int32')
# datapivothappiness_rank.info()

In [168]:
datapivothappiness_rank['AVG'] = datapivothappiness_rank.mean(axis = 1)
datapivothappiness_rank = datapivothappiness_rank.sort_values(by = ['AVG'])
datapivothappiness_rank['Rank'] = range(1, len(datapivothappiness_rank)+1)
datapivothappiness_rank.style\
    .applymap(color_rank, subset = ['Happiness Rank', 'Rank'])\
    .format(precision=2, thousands=".", decimal=",")\
    .apply(lambda x: ['background: blue' if x.name in ['Russia'] 
                              else '' for i in x], 
                   axis=1)

<ins> Conclusion</ins>  
The first 3 places in terms of happiness have been occupied by the following countries since 2015:  
Denmark, Finland, Iceland,Switzerland, Norway.  
Finland on the firs place last 5 years.  
Denmark on the 2nd place last 4 years.  
Rusia is somewhere between 49 and 80 place and we loose our positions since 2017 every year.

In [161]:
datapivothappiness_score = df.pivot(index='Country', columns='Year', values='Happiness Score')
datapivothappiness_score = datapivothappiness_score.dropna(axis = 0)
datapivothappiness_score['AVG'] = datapivothappiness_score.mean(axis = 1)
datapivothappiness_score = datapivothappiness_score.sort_values(by ='AVG', ascending=False)
datapivothappiness_score.style.apply(lambda x: ['background: blue' if x.name in ['Russia'] 
                              else '' for i in x], 
                   axis=1)

In [162]:
short_list = ['Russia', 'Belarus', 'Ukraine', 'Kazakhstan', 'Uzbekistan', 'Kyrgyzstan', 'Georgia']

In [163]:
datapivothappiness_score[datapivothappiness_score.index.isin (short_list)].style\
    .background_gradient(cmap='Greens')\
    .format(precision=1, thousands=".", decimal=",")